/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Damion&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default UI font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Logo font */
.logo {
    font-family: 'Damion', cursive;
}



/* Walking tiger animation */
.tiger {
    display: inline-block;
    animation: tigerWalk 2s linear infinite;
}

@keyframes tigerWalk {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes arrowRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes arrowLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-6px);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-arrow-right {
    animation: arrowRight 1.5s infinite;
}

.animate-arrow-left {
    animation: arrowLeft 1.5s infinite;
}